:root {
    --background: white;
    --text-primary: black;
    --button-color: #f8679e;
  }
  [data-theme="dark"] {
    --background: rgb(22, 22, 22);
    --text-primary: white;
    --button-color: #92224d;
  }

  body {
    font-family: sans-serif;
    background-color: var(--background);
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    background-color: var(--background);
    font-family: sans-serif;
    text-align: center;


}

.articles {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.load {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
    color:#92224d;
    font-weight: 700;
    padding: 10px;
    border: 2px solid var(--button-color);
    border-radius: 5px;
}
a:hover {
    background-color: var(--button-color);
    color: var(--text-primary);
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background);
  }
  
  .button {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--button-color);
    color: var(--text-primary);
    width: max-content;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    outline: none;
    border: 1px solid var(--button-color);
    cursor: pointer;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  
  .button--small {
    font-size: 20px;
    padding: 5px;
  }

.search--bar{
    border: 2px solid ;
    border-radius: 10px;
    padding: 4px;
    max-width: 300px;
    width: 100%;
    margin-right: 10px;
    outline: 3px solid #f8679e;
}